
## <summary>policy for xbi</summary>


########################################
## <summary>
##	Transition to xbi.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`xbi_domtrans',`
	gen_require(`
		type xbi_t, xbi_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, xbi_exec_t, xbi_t)
')


########################################
## <summary>
##	Execute xbi server in the xbi domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xbi_initrc_domtrans',`
	gen_require(`
		type xbi_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, xbi_initrc_exec_t)
')


########################################
## <summary>
##	Search xbi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xbi_search_lib',`
	gen_require(`
		type xbi_var_lib_t;
	')

	allow $1 xbi_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read xbi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xbi_read_lib_files',`
	gen_require(`
		type xbi_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, xbi_var_lib_t, xbi_var_lib_t)
')

########################################
## <summary>
##	Manage xbi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xbi_manage_lib_files',`
	gen_require(`
		type xbi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, xbi_var_lib_t, xbi_var_lib_t)
')

########################################
## <summary>
##	Manage xbi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xbi_manage_lib_dirs',`
	gen_require(`
		type xbi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, xbi_var_lib_t, xbi_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a xbi environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`xbi_admin',`
	gen_require(`
		type xbi_t;
		type xbi_initrc_exec_t;
		type xbi_var_lib_t;
	')

	allow $1 xbi_t:process { ptrace signal_perms };
	ps_process_pattern($1, xbi_t)

	xbi_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 xbi_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, xbi_var_lib_t)

')

